html{
    font-family:"Roboto" ;
    
}

body{
    margin: 0;
}

header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

button{
    background-color: #3882F6;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    color: #E5E7EB;
    font-size: 15px;
    font-weight: 900;
}

/* Nav bar css starts here */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 500px;
}

nav ul{
    list-style-type: none;
}
nav ul li{
    float: right;
}

nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    color: #E5E7EB;
    font-size: 18px;
}
.heroText{
    font-size: 24px;
    color: #F9FAF8;
}

/* Nav bar css ends here */

/* Intro section starts here */

.intro{
    padding: 200px 500px ;
    display: flex;
    justify-content: space-between;
}

.mainText{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondryText{
    color: #E5E7EB;
    font-size: 18px;
}

.text-container{
    padding-right: 50px;
    width: 750px;
}

/* Intro section ends here */

/*Subgenres section starts here */

.subgenres{
    display: flex;
    padding: 100px 500px;
    flex-direction: column;
    text-align: center;
}

#allgenres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subgenres #allgenres div{
    width: 200px;
    height: auto;
}

.subgenres img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

#information-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/*Subgenres section ends here */